.message {
    width: auto;
    height: auto;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.message::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    bottom: 5px;
    border-top: 15px solid transparent;
    border-right: 15px solid #23d0d0;
    border-bottom: 0px solid transparent;
}

.messageIn {
    border-radius: 10px 10px 10px 0;
    padding: 10px 55px 10px 20px;
    background: #23d0d0;
    position: relative;
    z-index: 2;
}

.name {
    color: #8a2c9f;
}

.messageColor {
    color: white;
}

.time {
    color: #47475a;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

img {
    position: relative;
    bottom: -25px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}


