.label {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.checkbox {
    appearance: none;

    width: 20px;
    height: 20px;

    margin-right: 10px;

    background-color: dimgrey;
}

.checkbox:checked {
    appearance: none;

    background-image: url("checked.png");
}

.checkbox:focus {
    outline: lightblue solid 1px;
}

.spanClassName {

}